.sendcont{
    margin-left: 200px;
    
    }
    .contacts{
      border-radius: 0px;
      border-right: none;
      border-left: none;
      border-top: 2px solid rgb(52, 144, 220);
      border-bottom: 2px solid rgb(52, 144, 220);
      
      -webkit-box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.1); 
      box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.1);
    }
    #contacts2{
      border-right: none;
      border-left: none;
      padding: 30px;
      height:100%;
    }
    #contacts3{
      border-right: none;
      border-left: none;
      padding: 30px;
    }
    
    .label{
      font-weight: bold;
      color: rgb(32, 78, 116);
    }
    #contacts2 i {
      font-size: 20px;
      color: rgb(52, 144, 220);
      float: left;
      width: 44px;
      height: 44px;
      background: #e7f5fb;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }
    #contacts2 p {
        padding: 0 0 10px 60px;
        
        font-size: 14px;
        color: #6182ba;
      
      }
      #sendbtn{
      
        color: white;
        background-color: rgb(52, 144, 220);
      }
      .contact-map{
        width: 100%;
        height: 1300%;
      }
      .maprow{
        margin-top:-3%;
        height:10%;
        padding: 12px;
      }